---
---
@charset "utf-8";

@import "reset";
@import "fonts";
@import "cms-normalize";
@import "mixins";

/* More */
body {
  background: #000;
  color: #ebebeb;
  margin: 0;
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

h1,
h2,
h3 {
  font-family: geosanslight-nmsregular, Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: .08em;
}

a {
  color: #cd4534;

  &:visited {
    color: #bd3524;
  }

  &:active {
    color: red;
  }

  &:hover {
    text-decoration: none;
  }
}

button:not([disabled]),
[type="file"],
label {
  cursor: pointer; // TODO: Usability?
}

/* General */

@keyframes targeted {
  0% { outline: 10px dashed rgba(0, 255, 0, 0) }
  10% { outline: 10px dashed rgba(0, 255, 0, 1) }
  90% { outline: 10px dashed rgba(0, 255, 0, 1) }
  100% { outline: 10px dashed rgba(0, 255, 0, 0) }
}

:target {
  animation-name: targeted;
  animation-duration: 4s;
}

.cms {
  line-height: 1.4;

  @include cms-normalize();

  a:hover {
    text-decoration: none;
  }

  code {
    font-size: .9em;
    border: 1px solid #c4c4c4;
    border-radius: 6px;
    padding: 1px 2px;
    background: rgba(0, 0, 0, .8);
    color: #e4e4e4;
  }
}

.content {
  padding: 20px;
}

/* Header */
.header {
  border-bottom: 2px solid #ff8400;
}

.headline1 {
  margin: 0;
  display: inline-block;

  a {
    // preload
    &::after {
      background-image: url(../images/mission.seasonal.on.png);
      content: "";
    }

    display: block;
    padding: 10px 10px 10px 40px;
    font-size: 20px;
    background: url(../images/mission.seasonal.off.png);
    background-repeat: no-repeat;
    background-size: contain;
    text-decoration: none;
    transition: all .2s ease-in-out;
    color: #fff;
    opacity: .9;

    &:hover {
      background-image: url(../images/mission.seasonal.on.png);
      opacity: 1;
    }
  }
}

/* Notes */

.notes_section {
  border-bottom: 2px solid #ff8400;
  background: #1b002b url(../images/box-vtile--purple.jpg);
  background-size: contain;

  .content {
    padding-top: 40px;
  }

  .cms {
    max-width: 850px;
    margin: auto;

    h3 {
      a {
        font-size: 20px;
        color: #ff8400;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    p {
      margin-left: 23px;
    }
  }

  .expedition_notes_header {
    text-transform: uppercase;
    font-size: 32px;
    background: no-repeat url(../images/heading-border-centered-3.png) center bottom;
    background-size: contain;
    text-align: center;
    padding-bottom: 20px;
  }
}

/* Footer */

.footer {
  background: #162238 url(../images/box-vtile-2.png);
  background-size: contain;
  padding: 20px;
  display: flex;
  justify-content: space-between;

  .image img {
    width: 48px;
  }
}
