---
layout: null
---
<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/global.css?{{ site.github.build_revision }}">
  <link rel="stylesheet" href="css/modal.css?{{ site.github.build_revision }}">
  <script src="js/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="js/libs/micromodal/0.6.1/micromodal.min.js"></script>
</head>
<body data-touched="false" class="{% if site.local %}local{% else %}public{% endif %}">

<div class="top">
  <header class="header" id="header" data-toggle-container data-toggle-default="on">
    <h1 class="headline1">{{ site.title }}</h1>

    <section class="intro">
      <div class="intro_toggle_container">
        <button class="intro_toggle_button" type="button" data-toggler data-toggle-name="toggle_intro_section_{% for post in site.posts limit: 1 %}{{ post.url | slugify }}{% endfor %}" data-toggle-off-text="Show More Info" data-toggle-target="#header">
          Hide
        </button>
      </div>
      <div class="content cms">
        <h2 class="visibly-hidden">Introduction</h2>
        <p>
          You can use this app to customize and generate <code>SEASON_DATA_CACHE.JSON</code> to play No Man's Sky expeditions <strong>offline</strong> on PC/Mac/SteamDeck (and Switch with some work).
          Any rewards you unlock, as well as ships/multitools/items you transfer, will remain on your account/saves after going back online.
          If you JUST want the rewards, <a href="#expedition_notes_just_unlocks">see below</a> for more info.
        </p>
        <p>
          To report bugs or make suggestions, please <a href="https://github.com/cwmonkey/nms-expeditions/issues?q=is%3Aissue" target="_blank">use my GitHub page</a>.
        </p>
        <p>
          If you feel we should all be able to replay expeditions online at any time, please <a href="https://hellogames.zendesk.com/hc/en-us/requests/new" target="_blank">tell Hello Games</a>.
        </p>
        {% for post in site.posts limit: 1 %}
          <section id="news" data-news-id="{{ post.url | slugify }}">
            <h3>News:</h3>
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%b. %d, %Y' }}</time> -
            {{ post.excerpt }}
          </section>
        {% endfor %}
      </div>
    </section>
  </header>

  <section class="step select_exp">
    <h3 class="step_headline">Step 1: Select Expedition</h3>

    <ol class="exp_items">
      {% for exp in site.data.expeditions %}
        <li class="exp_item exp_item_{{ exp.id }}" title="{{ exp.description }}">
          <input type="radio" name="expeditions" id="{{ exp.id }}_radio" class="exp_radio" data-id="{{ exp.id }}">
          <label for="{{ exp.id }}_radio" class="exp_label"{% if exp.note %} title="{{ exp.note }}"{% endif %}>
            <span class="image"><img src="images/expeditions/{{ exp.image }}" class="badge" alt="{{ exp.name }} badge"></span>
            <h4 class="exp_name">{{ exp.name }} {% if exp.redux %}<span class="redux">(Redux)</span>{% endif %}</h4>
            {% comment %}<p class="exp_desc">
              {{ exp.description }}
            </p>{% endcomment %}
          </label>
        </li>
      {% endfor %}
    </ol>
  </section>

  <section class="step customize"><div class="inner">
    <h3 class="step_headline">Step 2: Customize <small>(Optional)</small></h3>

    <div class="cms">
      <p><strong>Note:</strong> You may undo these customizations and replace the JSON file at any time during your expedition.</p>
    </div>

    <div class="notices">
      {% for exp in site.data.expeditions %}
        {% if exp.notice %}
          <section class="notice" id="notice_{{ exp.id }}">
            <div class="notice_header">
              <h4 class="notice_headline">Notice</h4>
              <div class="notice_description cms">{{ exp.notice | markdownify }}</div>
            </div>

            {% if exp.patches %}
              <ul class="patch_list">
                {% for patch in exp.patches %}
                  <li><label class="patch_label">
                    <input type="checkbox" name="{{ exp.id }}_{{ patch.id }}_check" class="patch_check" value="{{ exp.id }}_{{ patch.id }}" data-exp-id="{{ exp.id }}" {% if patch.checked == 1 %}checked = "checked"{% endif %}>
                    <span class="patch_description">{{ patch.description }}</span>
                  </label></li>
                {% endfor %}
              </ul>
            {% endif %}
          </section>
        {% endif %}
      {% endfor %}
    </div>

    <section class="cust_section cust_presets_section">
      <h4 class="cust_headline"><span class="cust_headline_text">Presets</span></h4>

      <div class="cms">
        <div class="cust_desc">
          <p>Click a button below to load a customization preset. </p>
        </div>
      </div>

      <div class="cust_presets cust_content cms">
        <p>
          <button type="button" class="cust_tool cust_reset">Reset to Expedition Defaults</button>
        </p>
        <p>
          {% for preset in site.data.presets %}
            <button type="button" class="cust_tool cust_preset" data-id="{{ preset.id }}">{{ preset.name }}</button>
          {% endfor %}
        </p>
      </div>
    </section>

    <ul>
      {% for csection in site.data.customizations %}
        <li class="cust_section">
          <h4 class="cust_headline">
            <button class="cust_headline_text" type="button" data-toggler data-toggle-name="customization-section-{{ csection.id }}" data-toggle-off-text="+ {{ csection.name }}" data-toggle-target="#{{ csection.id }}-table" data-toggle-text-target="#{{ csection.id }}-text">
              <span id="{{ csection.id }}-text">- {{ csection.name }}</span>
              <span id="{{ csection.id }}-count" data-count-template-0="" data-count-template-1="(1 option selected)" data-count-template-other="(%n options selected)"></span>
            </button>
          </h4>
          {% if csection.description %}
            <div class="cms"><div class="cust_desc">{{ csection.description | markdownify }}</div></div>
          {% endif %}
          <table class="cust_table" id="{{ csection.id }}-table" {% if csection.defaultoff %}data-toggle-default="off"{% endif %}>
            <tr>
              <th>Property</th>
              <th>Default</th>
              <th>Override</th>
            </tr>
            {% for cust in csection.customizations %}
              {% capture attrs %}
                class="cust_prop_input"
                name="{{ cust.prop }}"
                data-type="{{ cust.type }}"
                data-subprop="{{ cust.subprop }}"
                data-parentprop="{{ csection.prop }}"
                title="{% if csection.prop %}{{ csection.prop }}.{% endif %}{{ cust.prop }}{% if cust.subprop %}.{{ cust.subprop }}{% endif %}"
                placeholder="DEFAULT"
                data-section-id="{{ csection.id }}"
              {% endcapture %}
              <tr class="cust_item type_{{ cust.type }} {% if cust.warning %}cust_item_warning{% endif %}">
                <td class="property">
                  <p class="cust_property" {% if cust.description %}title="{{ cust.description | xml_escape }}"{% endif %}>{% if cust.display %}{{ cust.display }}{% else %}{{ cust.prop }}{% endif %}</p>
                  {% if cust.description %}<div class="cust_property_desc">{{ cust.description | markdownify }}</div>{% endif %}
                </td>
                <td class="default"></td>
                <td class="override">
                  {% comment %}
                  ////////////////////////////////
                  // GENERIC
                  ////////////////////////////////
                  {% endcomment %}

                  {% if cust.options %}
                    <select {{ attrs }}>
                      <option value="">DEFAULT</option>
                      {% for opt in cust.options %}
                        <option value="{{ opt.value }}">{{ opt.text }}</option>
                      {% endfor %}
                    </select>
                  {% elsif cust.type == "bool" %}
                    <select {{ attrs }}>
                      <option value="">DEFAULT</option>
                      <option value="true">true</option>
                      <option value="false">false</option>
                    </select>
                  {% elsif cust.type == "int" %}
                    <input type="number" {{ attrs }}>
                  {% elsif cust.type == "float" %}
                    <input step=".01" type="number" {{ attrs }}>

                  {% comment %}
                  ////////////////////////////////
                  // SPECIFIC
                  ////////////////////////////////
                  {% endcomment %}

                  {% comment %}
                  // General //
                  {% endcomment %}

                  {% elsif cust.type == "DifficultyPresetType" %}
                    <select {{ attrs }}>
                      <option value="">DEFAULT</option>
                      <option value="Normal">Normal</option>
                      <option value="Creative">Creative</option>
                      <option value="Relaxed">Relaxed</option>
                      <option value="Survival">Survival</option>
                      <option value="Permadeath">Permadeath{% if cust.prop == "GameMode" %} (Main save deleted on death!){% endif %}</option>
                    </select>
                  {% elsif cust.type == "ShipClass" %}
                    <select {{ attrs }}>
                      <option value="">DEFAULT</option>
                      {% comment %}<option value="Freighter">Freighter</option>{% endcomment %}
                      <option value="Dropship">Dropship</option>
                      <option value="Fighter">Fighter</option>
                      <option value="Scientific">Scientific</option>
                      <option value="Shuttle">Shuttle</option>
                      {% comment %}<option value="PlayerFreighter">PlayerFreighter</option>{% endcomment %}
                      <option value="Royal">Royal</option>
                      <option value="Alien">Alien (Has incorrect tech)</option>
                      <option value="Sail">Sail</option>
                      <option value="Robot">Robot (Doesn't work?)</option>
                    </select>

                  {% comment %}<!--
                  // Difficulty Minimums //

                  {% elsif cust.type == "EnergyDrainDifficulty" %}
                    {% comment %}
                      TODO: Test and find more values
                    {% endcomment %}
                    <select {{ attrs }}>
                      <option value="">DEFAULT</option>
                      <option value="Slow">Slow</option>
                      <option value="Normal">Normal</option>
                    </select>
                  {% elsif cust.type == "FuelUseDifficulty" %}
                    {% comment %}
                      TODO: Test and find more values
                    {% endcomment %}
                    <select {{ attrs }}>
                      <option value="">DEFAULT</option>
                      <option value="Free">None (Untested)</option>
                      <option value="Cheap">Cheap</option>
                      <option value="Normal">Normal</option>
                      <option value="Expensive">Expensive (Same as Normal)</option>
                    </select>
                  {% elsif cust.type == "InventoryStackLimitsDifficulty" %}
                    {% comment %}
                      TODO: Test and find more values
                    {% endcomment %}
                    <select {{ attrs }}>
                      <option value="">DEFAULT</option>
                      <option value="Normal">Normal</option>
                    </select>
                  {% elsif cust.type == "LaunchFuelCostDifficulty" %}
                    {% comment %}
                      TODO: Test and find more values
                    {% endcomment %}
                    <select {{ attrs }}>
                      <option value="">DEFAULT</option>
                      <option value="Low">Low</option>
                      <option value="Normal">Normal</option>
                      <option value="High">High*</option>{% comment %}Guessing here{% endcomment %}
                    </select>
                  {% elsif cust.type == "SwitchContextSaveDataMask" %}
                    {% comment %}
                      TODO: Test and find more values
                    {% endcomment %}
                    <select {{ attrs }}>
                      <option value="">DEFAULT</option>
                      <option value="^DEFAULT">^DEFAULT</option>
                    </select>
                  -->{% endcomment %}

                  {% else %}
                    <input type="text" {{ attrs }}>*
                  {% endif %}
                </td>
              </tr>
              {% if cust.description == 0 %}
                <tr class="cust_row_desc"><td colspan="3"><p class="cust_desc">{{ cust.description }}</p></td></tr>
              {% endif %}
              {% if cust.warning %}
                <tr class="cust_row_warning"><td colspan="3"><p class="cust_warning"><strong>Warning:</strong> {{ cust.warning }}</p></td></tr>
              {% endif %}
            {% endfor %}
          </table>
        </li>
      {% endfor %}
    </ul>
    
    <section class="cust_section cust_tools_section">
      <h4 class="cust_headline"><span class="cust_headline_text">Import/Export</span></h4>
      <div class="cms"><div class="cust_desc">
        <p>These buttons save/load the above customizations only. See <strong>Step 3</strong> to download the actual expedition file.</p>
      </div></div>

      <div class="cust_tools cust_content cms">
        <div class="cust_tool_section cust_import_export">
          <button type="button" class="cust_tool cust_export">Export Customizations</button>
          <form class="cust_tool cust_import cust_import_form" enctype="multipart/form-data">
            <label for="upload">
              Import Customizations
            </label>
            <input id="upload" type="file" accept="application/json" name="files">
          </form>
        </div>
      </div>
    </section>


    <div class="notes cms">
    </div>
  </div></section>

  <section class="step download_section">
    <h3 class="step_headline">Step 3: Download</h3>

    <div class="cms">
      <p>Save to the appropriate directory:</p>

      <dl>
        <dt>Steam PC:</dt>
        <dd>%APPDATA%\HelloGames\NMS\{steam id}\cache</dd>

        <dt>Steam Mac:</dt>
        <dd>~/Library/Application Support/HelloGames/NMS/cache</dd>

        <dt>MS Store/GOG/Xbox Game Pass on PC:</dt>
        <dd>%APPDATA%\HelloGames\NMS\cache</dd>

        <dt>SteamDeck:</dt>
        <dd>/home/deck/.steam/steam/steamapps/compatdata/275850/pfx/drive_c/Users/SteamUser/AppData/Roaming/HelloGames/NMS/{steam id}/cache</dd>

        <dt>Nintendo Switch:</dt>
        <dd class="non_path">Thanks to <a href="https://github.com/leodium/leodium-ReLive-NoMansSky-Expeditions-Offline/discussions/36" target="_blank">gusklein</a> for figuring this out: Using DBI.nro (or similar), open game saves, look for the No Mans Sky SD.Cache folder</dd>
      </dl>

      <p>Note: These directories may be somewhat different on your machine.</p>

      <p>Note 2: The file MUST be named exactly <code>SEASON_DATA_CACHE.JSON</code> (names like <code>SEASON_DATA_CACHE (1).JSON</code> will not work).</p>

      <p>You must be <strong>OFFLINE</strong> (meaning Steam needs to be in offline mode, or you need to disconnect from the internet, or you need to <a href="https://github.com/leodium/leodium-ReLive-NoMansSky-Expeditions-Offline/discussions/48#discussioncomment-11565201" target="_blank">block NMS via a firewall</a>) when you play NMS for this to work, otherwise your expedition JSON will be overwritten and any offline expeditions you were on will end when you load the save. If you go online while in an expedition, the expedition will abruptly end.</p>
    </div>

    <div class="download_container">
      <button type="button" class="download" disabled>DOWNLOAD</button>
    </div>

    <div class="debug" id="debug_container" data-toggle-container data-toggle-default="off">
      <button type="button" class="toggle_debug" data-toggler data-toggle-name="debug" data-toggle-off-text="Show Debug" data-toggle-target="#debug_container">Hide Debug</button>
      <section class="debug_panel">
        <h4>Debug Info/Tools</h4>

        <section>
          <button type="button" id="copy">COPY</button>
        </section>

        <section>
          <h5>Expedition Overrides/Patches</h5>
          <div class="debug_output"></div>
        </section>

        <div class="debug_tools">
          <section class="create_patch">
            <h5>Expedition Patch Creator</h5>
            <textarea id="before" placeholder="Original JSON"></textarea>
            <textarea id="after" placeholder="JSON After Edits"></textarea>
            <br>
            <button type="button" id="make_patch">MAKE PATCH</button>
            <br>
            <textarea id="patch"></textarea>
          </section>
        </div>
      </section>
    </div>
  </section>

</div>

<section class="notes_section"><div class="content">
  <div class="cms">
    <h2 class="expedition_notes_header">Expedition Notes</h2>

    <section id="expedition_notes_general">
      <h3><a href="#expedition_notes_general">General</a></h3>

      <ul>
        <li>At the start of any expedition the reward descriptions are blank. Simply save your game and reload it to make the descriptions show up.</li>
        <li>Some expeditions start with tech in inventory slots. You need to move them.</li>
        <li>If you need Polo to show you Atlas stations, he won't do it UNLESS you also ask him to show you black holes. Then you will see both on your galaxy map.</li>
        <li>If you start your game in online mode after starting an offline expedition, you will be taken to the Anomaly and the expedition will end. If you do not save before closing the game, you can go offline and resume the expedition.</li>
      </ul>
    </section>

    <section id="expedition_notes_replaying_restarting">
      <h3><a href="#expedition_notes_replaying_restarting">Replaying/Restarting Expeditions</a></h3>

      <p>You can replay expeditions you've already completed, however you cannot play the same expedition twice in a row (without a little work). If you want to play the same expedition again, or if you need to restart an expedition, you must do the following:</p>

      <ol>
        <li>With NMS closed, download the <code>SEASON_DATA_CACHE.JSON</code> for a <strong>different</strong> expedition and put it in your cache folder (make sure to override the old one if it's still there)</li>
        <li>Open NMS, load your game and start the new expedition from the terminal</li>
        <li>Save (either by entering and exiting your ship or waiting for an auto save to happen), then close NMS</li>
        <li>Download the <code>SEASON_DATA_CACHE.JSON</code> for the expedition you want to play and put it in your cache folder</li>
      </ol>

      <p>You should now be able to replay/restart your desired expedition.</p>

      <p>Note: If you are familiar with save editing, you can just remove the <code>ExpeditionContext</code> entry from your save file (that's how the game knows which expedition you played last).</p>
    </section>

    {% for exp in site.data.expeditions %}
      {% if exp.notice %}
        <section id="{{exp.id}}_headline">
          <h3><a href="#{{exp.id}}_headline">{{ exp.name }} {% if exp.redux %}<span class="redux">(Redux)</span>{% endif %}</a></h3>
          {{ exp.notice | markdownify }}
        </section>
      {% endif %}
    {% endfor %}

    <section id="expedition_notes_just_unlocks">
      <h3><a href="#expedition_notes_just_unlocks">Obtaining Expedition Unlocks/Rewards Without Playing Expeditions</a></h3>

      <p>If you want to skip actually playing the expeditions and JUST want the rewards unlocked on your account, you have a number of options:</p>

      <ol>
        <li id="expedition_notes_nomansapp"><strong>NoMansApp.com:</strong>
          <a href="https://nomansapp.com/" target="_blank">Go to NoMansApp.com</a>, select <code>Expedition/Season Reward Unlocker</code>, input your Friend Code and follow the instructions to unlock expedition rewards while you are in-game. This is the only method that will work on consoles as well as PC/Mac/SteamDeck.
        </li>
        <li><strong>Using a save editor:</strong>
          You can use either <a href="https://github.com/zencq/NomNom" target="_blank">NomNom</a> or the <a href="https://github.com/goatfungus/NMSSaveEditor" target="_blank">GoatFungus NMSSaveEditor</a> to unlock expedition rewards on your account.
        </li>
        <li><strong>Manually editing your account file:</strong>
          You can manually edit your <code>accountdata.hg</code> file in a simple text editor to unlock all the expedition rewards.
          Please refer to
          this <a href="https://www.reddit.com/r/NoMansSkyTheGame/comments/1507txf/pc_how_to_unlock_all_expedition_rewards" target="_blank">guide on Reddit</a>,
          this <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=3299890535" target="_blank">guide on Steam</a>,
          or do a search on your search engine of choice.
        </li>
      </ol>
    </section>
  </div>
</div></section>
<footer class="footer">
  <div class="cms">
    <p>
      This is a work in progress, so feel free to <a href="https://github.com/cwmonkey/nms-expeditions/issues?q=is%3Aissue" target="_blank">hit me up on GitHub</a> with any issues.
    </p>
    <p>
      You can also contact <strong>WrasslorMonkey</strong> on Discord.
    </p>
    <p>
      Thanks to Leodium (who has retired from this project) for sharing this concept and files to help make this page possible.
    </p>
  </div>
  <div class="image">
    <img src="images/monkey-head-graffiti.png" alt="cwmonkey avatar" title="That's me">
  </div>
</footer>

{% for exp in site.data.expeditions %}
  <script id="{{ exp.id }}" type="application/json">{% include {{ exp.json }} %}</script>

  {% for patch in exp.patches %}
    <script id="{{ exp.id }}_{{ patch.id }}" type="application/json" data-patch-parent="{{ exp.id }}" {% if patch.checked %}data-patch-checked="1"{% endif %} data-patch-description="{{ patch.description | xml_escape }}">{% include {{ patch.json }} %}</script>
  {% endfor %}
{% endfor %}

{% for preset in site.data.presets %}
  <script id="{{ preset.id }}" type="application/json">{% include {{ preset.json }} %}</script>
{% endfor %}

<div class="micromodal-slide modal" id="modal-news" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close="">
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-news-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-news-title">New Version Available!</h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close=""></button>
      </header>
      <div class="modal__content" id="modal-news-content"><div class="cms">
        <h3 id="modal-news-title"></h3>
        <p id="modal-news-excerpt"></p>
        <p>Please refresh the page to download the latest version of the expedition configs</p>
      </div></div>
      <footer class="modal__footer">
        <button class="modal__btn modal__btn-primary" id="refresh">Refresh</button>
        <button class="modal__btn" data-micromodal-close="" aria-label="Close this dialog window">Close</button>
      </footer>
    </div>
  </div>
</div>

<script src="js/nms.js?{{ site.github.build_revision }}"></script>

</body>
</html>
