---
layout: null
---
<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/global.css?{{ site.github.build_revision }}">
  <script src="js/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body data-touched="false">

<header class="header">
  <h1 class="headline1">{{ site.title }}</h1>
</header>

<main class="main">
  <section class="intro"><div class="content cms">
    <h2 class="visibly-hidden">Introduction</h2>
    <p>
      You can use this app to customize and generate SEASON_DATA_CACHE.JSON to play No Man's Sky expeditions <strong>offline</strong> (while that's still a thing). The concept and JSON files are from Leodium. You can <a href="https://github.com/leodium/leodium-ReLive-NoMansSky-Expeditions-Offline" target="_blank">view more information on Leodium's github</a>.
    </p>
  </div></section>

  <div class="steps">
    <section class="step select_exp">
      <h3 class="step_headline">Step 1: Select Expedition</h3>

      <ol>
        {% for exp in site.data.expeditions %}
          <li class="exp_item exp_item_{{ exp.id }}">
            <input type="radio" name="expeditions" id="{{ exp.id }}_radio" class="exp_radio" data-json-id="{{ exp.id }}">
            <label for="{{ exp.id }}_radio" class="exp_label">
              <span class="image"><img src="images/expeditions/{{ exp.image }}" class="badge" alt="{{ exp.name }} badge"></span>
              <h4 class="exp_name">{{ exp.name }} {% if exp.redux %}<span class="redux">(Redux)</span>{% endif %}</h4>
              <p class="exp_desc">
                {{ exp.description }}
              </p>
            </label>
          </li>
        {% endfor %}
      </ol>
    </section>

    <section class="step customize">
      <h3 class="step_headline">Step 2: Customize</h3>

      <div class="cms">
        <p><strong>Note:</strong> I have no idea what could happen by messing with these values. I'm still in the process of testing stuff.</p>
      </div>

      <ul>
        {% for csection in site.data.customizations %}
          <li class="cust_section">
            <h4 class="cust_headline"><button type="button" data-toggler data-toggle-name="customization-section-{{ csection.id }}" data-toggle-off-text="+ {{ csection.name }}" data-toggle-target="#{{ csection.id }}-table">- {{ csection.name }}</button></h4>
            {% if csection.description %}
              <div class="cms"><p class="cust_desc">{{ csection.description }}</p></div>
            {% endif %}
            <table class="cust_table" id="{{ csection.id }}-table" {% if csection.defaultoff %}data-toggle-default="off"{% endif %}>
              <tr>
                <th>Property</th>
                <th>Default</th>
                <th>Override</th>
              </tr>
              {% for cust in csection.customizations %}
                {% capture attrs %}
                  class="cust_prop_input" name="{{ cust.prop }}" data-type="{{ cust.type }}" data-subprop="{{ cust.subprop }}" data-parentprop="{{ csection.prop }}" title="{% if csection.prop %}{{ csection.prop }}.{% endif %}{{ cust.prop }}{% if cust.subprop %}.{{ cust.subprop }}{% endif %}" placeholder="DEFAULT"
                {% endcapture %}
                <tr class="cust_item type_{{ cust.type }} {% if cust.warning %}cust_item_warning{% endif %}">
                  <td class="property">
                    <p class="cust_property" {% if cust.description %}title="{{ cust.description }}"{% endif %}>{{ cust.prop }}</p>
                  </td>
                  <td class="default"></td>
                  <td class="override">
                    {% comment %}
                    ////////////////////////////////
                    // GENERIC
                    ////////////////////////////////
                    {% endcomment %}

                    {% if cust.type == "bool" %}
                      <select {{ attrs }}>
                        <option value="">DEFAULT</option>
                        <option value="true">true</option>
                        <option value="false">false</option>
                      </select>
                    {% elsif cust.type == "int" %}
                      <input type="number" {{ attrs }}>
                    {% elsif cust.type == "float" %}
                      <input step=".01" type="number" {{ attrs }}>

                    {% comment %}
                    ////////////////////////////////
                    // SPECIFIC
                    ////////////////////////////////
                    {% endcomment %}

                    {% comment %}
                    // General //
                    {% endcomment %}

                    {% elsif cust.type == "DifficultyPresetType" %}
                      <select {{ attrs }}>
                        <option value="">DEFAULT</option>
                        <option value="Normal">Normal</option>
                        <option value="Creative">Creative</option>
                        <option value="Relaxed">Relaxed</option>
                        <option value="Survival">Survival</option>
                        <option value="Permadeath">Permadeath</option>
                      </select>
                    {% elsif cust.type == "ShipClass" %}
                      <select {{ attrs }}>
                        <option value="">DEFAULT</option>
                        {% comment %}<option value="Freighter">Freighter</option>{% endcomment %}
                        <option value="Dropship">Dropship</option>
                        <option value="Fighter">Fighter</option>
                        <option value="Scientific">Scientific</option>
                        <option value="Shuttle">Shuttle</option>
                        {% comment %}<option value="PlayerFreighter">PlayerFreighter</option>{% endcomment %}
                        <option value="Royal">Royal</option>
                        <option value="Alien">Alien</option>
                        <option value="Sail">Sail</option>
                        <option value="Robot">Robot (Doesn't work?)</option>
                      </select>

                    {% comment %}
                    // Difficulty Minimums //
                    {% endcomment %}

                    {% elsif cust.type == "ActiveSurvivalBarsDifficulty" %}
                      <select {{ attrs }}>
                        <option value="">DEFAULT</option>
                        <option value="None">None</option>
                        <option value="Health">Health</option>
                        <option value="HealthAndHazard">HealthAndHazard</option>
                        <option value="All">All</option>
                      </select>
                    {% elsif cust.type == "BreakTechOnDamageProbability" %}
                      <select {{ attrs }}>
                        <option value="">DEFAULT</option>
                        <option value="None">None</option>
                        <option value="Low">Low</option>
                        <option value="High">High</option>
                      </select>
                    {% elsif cust.type == "ChargingRequirementsDifficulty" %}
                      {% comment %}
                        TODO: There are probably more settings here, but I'm not really sure what setting this is in the menu.
                      {% endcomment %}
                      <select {{ attrs }}>
                        <option value="">DEFAULT</option>
                        <option value="Low">Low</option>
                        <option value="Normal">Normal</option>
                      </select>
                    {% elsif cust.type == "CreatureHostilityDifficulty" %}
                      <select {{ attrs }}>
                        <option value="">DEFAULT</option>
                        <option value="NeverAttack">NeverAttack</option>
                        <option value="FullEcosystem">FullEcosystem</option>
                        <option value="AttackIfProvoked">AttackIfProvoked</option>
                      </select>
                    {% elsif cust.type == "CurrencyCostDifficulty" %}
                      {% comment %}
                        TODO: Test and find more values
                      {% endcomment %}
                      <select {{ attrs }}>
                        <option value="">DEFAULT</option>
                        <option value="Cheap">Cheap</option>
                        <option value="Normal">Normal</option>
                      </select>
                    {% elsif cust.type == "DamageGivenDifficulty" %}
                      {% comment %}
                        TODO: Test, and possibly make a generic "low normal high" type
                      {% endcomment %}
                      <select {{ attrs }}>
                        <option value="">DEFAULT</option>
                        <option value="High">High</option>
                        <option value="Normal">Normal</option>
                        <option value="Low">Low</option>
                      </select>
                    {% elsif cust.type == "DamageReceivedDifficulty" %}
                      {% comment %}
                        TODO: Test, and possibly make a generic "low normal high" type
                      {% endcomment %}
                      <select {{ attrs }}>
                        <option value="">DEFAULT</option>
                        <option value="Low">Low</option>
                        <option value="Normal">Normal</option>
                        <option value="High">High</option>
                      </select>
                    {% elsif cust.type == "DeathConsequencesDifficulty" %}
                      {% comment %}
                        TODO: Test and find more values
                      {% endcomment %}
                      <select {{ attrs }}>
                        <option value="">DEFAULT</option>
                        <option value="ItemGrave">ItemGrave</option>
                        <option value="DestroyItems">DestroyItems</option>
                      </select>
                    {% elsif cust.type == "EnergyDrainDifficulty" %}
                      {% comment %}
                        TODO: Test and find more values
                      {% endcomment %}
                      <select {{ attrs }}>
                        <option value="">DEFAULT</option>
                        <option value="Slow">Slow</option>
                        <option value="Normal">Normal</option>
                      </select>
                    {% elsif cust.type == "FuelUseDifficulty" %}
                      {% comment %}
                        TODO: Test and find more values
                      {% endcomment %}
                      <select {{ attrs }}>
                        <option value="">DEFAULT</option>
                        <option value="Cheap">Cheap</option>
                        <option value="Normal">Normal</option>
                      </select>
                    {% elsif cust.type == "CombatTimerDifficultyOption" %}
                      {% comment %}
                        TODO: Test and find more values?
                      {% endcomment %}
                      <select {{ attrs }}>
                        <option value="">DEFAULT</option>
                        <option value="Off">Off</option>
                        <option value="Slow">Slow</option>
                        <option value="Normal">Normal</option>
                        <option value="Fast">Fast</option>
                      </select>
                    {% elsif cust.type == "HazardDrainDifficulty" %}
                      {% comment %}
                        TODO: Test and find more values
                      {% endcomment %}
                      <select {{ attrs }}>
                        <option value="">DEFAULT</option>
                        <option value="Slow">Slow</option>
                        <option value="Normal">Normal</option>
                        <option value="Fast">Fast</option>
                      </select>
                    {% elsif cust.type == "InventoryStackLimitsDifficulty" %}
                      {% comment %}
                        TODO: Test and find more values
                      {% endcomment %}
                      <select {{ attrs }}>
                        <option value="">DEFAULT</option>
                        <option value="Normal">Normal</option>
                      </select>
                    {% elsif cust.type == "ItemShopAvailabilityDifficulty" %}
                      {% comment %}
                        TODO: Test and find more values
                      {% endcomment %}
                      <select {{ attrs }}>
                        <option value="">DEFAULT</option>
                        <option value="Low">Low</option>
                        <option value="Normal">Normal</option>
                        <option value="High">High</option>
                      </select>
                    {% elsif cust.type == "LaunchFuelCostDifficulty" %}
                      {% comment %}
                        TODO: Test and find more values
                      {% endcomment %}
                      <select {{ attrs }}>
                        <option value="">DEFAULT</option>
                        <option value="Low">Low</option>
                        <option value="Normal">Normal</option>
                        <option value="High">High*</option>{% comment %}Guessing here{% endcomment %}
                      </select>
                    {% elsif cust.type == "ReputationGainDifficulty" %}
                      {% comment %}
                        TODO: Test and find more values
                      {% endcomment %}
                      <select {{ attrs }}>
                        <option value="">DEFAULT</option>
                        <option value="Fast">Fast</option>
                        <option value="Normal">Normal</option>
                        <option value="Slow">Slow*</option>{% comment %}Guessing here{% endcomment %}
                      </select>
                    {% elsif cust.type == "ScannerRechargeDifficulty" %}
                      {% comment %}
                        TODO: Test and find more values
                      {% endcomment %}
                      <select {{ attrs }}>
                        <option value="">DEFAULT</option>
                        <option value="VeryFast">VeryFast</option>
                        <option value="Fast">Fast</option>
                        <option value="Normal">Normal</option>
                        <option value="Slow">Slow*</option>{% comment %}Guessing here{% endcomment %}
                      </select>
                    {% elsif cust.type == "SprintingCostDifficulty" %}
                      {% comment %}
                        TODO: Test and find more values
                      {% endcomment %}
                      <select {{ attrs }}>
                        <option value="">DEFAULT</option>
                        <option value="Low">Low</option>
                        <option value="Full">Full</option>
                      </select>
                    {% elsif cust.type == "SubstanceCollectionDifficulty" %}
                      {% comment %}
                        TODO: Test and find more values
                      {% endcomment %}
                      <select {{ attrs }}>
                        <option value="">DEFAULT</option>
                        <option value="High">High</option>
                        <option value="Normal">Normal</option>
                        <option value="Low">Low*</option>{% comment %}Guessing here{% endcomment %}
                      </select>
                    {% elsif cust.type == "SwitchContextSaveDataMask" %}
                      {% comment %}
                        TODO: Test and find more values
                      {% endcomment %}
                      <select {{ attrs }}>
                        <option value="">DEFAULT</option>
                        <option value="^DEFAULT">^DEFAULT</option>
                      </select>
                    {% else %}
                      <input type="text" {{ attrs }}>*
                    {% endif %}
                  </td>
                </tr>
                {% if cust.description == 0 %}
                  <tr class="cust_row_desc"><td colspan="3"><p class="cust_desc">{{ cust.description }}</p></td></tr>
                {% endif %}
                {% if cust.warning %}
                  <tr class="cust_row_warning"><td colspan="3"><p class="cust_warning"><strong>Warning:</strong> {{ cust.warning }}</p></td></tr>
                {% endif %}
              {% endfor %}
            </table>
          </li>
        {% endfor %}
      </ul>
      
      <button type="button" class="cust_reset">Reset Customizations to Default</button>

      <div class="notes cms">
        <p>*'s denote I'm guessing that this setting works.</p>
      </div>
    </section>

    <section class="step download_section">
      <h3 class="step_headline">Step 3: Download</h3>

      <div class="cms">
        <p>Save to the appropriate directory:</p>

        <dl>
          <dt>Steam PC:</dt>
          <dd>%APPDATA%\HelloGames\NMS\{steam id}\cache</dd>

          <dt>Steam Mac:</dt>
          <dd>~/Library/Application Support/HelloGames/NMS/cache</dd>

          <dt>MS Store/GOG:</dt>
          <dd>%APPDATA%\HelloGames\NMS\cache</dd>

          <dt>SteamDeck:</dt>
          <dd>/home/deck/.steam/steam/steamapps/compatdata/275850/pfx/drive_c/Users/SteamUser/AppData/Roaming/HelloGames/NMS/cache</dd>
        </dl>

        <p>Note: These directories may be somewhat different on your machine.</p>

        <p>You must be <strong>OFFLINE</strong> (meaning Steam needs to be in offline mode, or you need to disconnect from the internet) when you start NMS for this to work, otherwise your expedition JSON will be overwritten and any offline expeditions you were on will end when you load the save.</p>

        <p><button type="button" class="download" disabled>DOWNLOAD</button></p>
      </div>

      <div class="debug" id="debug_container" data-toggle-container data-toggle-default="off">
        <button type="button" class="toggle_debug" data-toggler data-toggle-name="debug" data-toggle-off-text="Show Debug" data-toggle-target="#debug_container">Hide Debug</button>
        <div class="debug_panel">

        </div>
      </div>
    </section>
  </div>
</main>

<footer class="footer">
  <div class="cms">
    <p>
      This is a work in progress, so feel free to hit me up on GitHub with any issues: <a href="https://github.com/cwmonkey/nms-expeditions">https://github.com/cwmonkey/nms-expeditions</a>.
    </p>
    <p>
      I am also available on the <a href="https://discord.gg/nomanssky" target="_blank">No Man's Sky Discord</a>.
    </p>
  </div>
  <div class="image">
    <img src="images/monkey-head-graffiti.png" alt="cwmonkey avatar">
  </div>
</footer>

{% for exp in site.data.expeditions %}
  <script id="{{ exp.id }}" type="application/json">{% include {{ exp.json }} %}</script>
{% endfor %}


<script src="js/nms.js"></script>

{% comment %}
  TODO: implement this crap
{% endcomment %}
{% if 1 == 0 %}
<script id="e10" type="application/json">
  {% include 10_redux_singularity.json %}
</script>

<script id="e10cwm" type="application/json">
  {% include 10_redux_singularity_cwm.json %}
</script>

<script id="e10fixes" type="application/json">
  {% include 10_redux_singularity.fixes.patch.json %}
</script>

<script>

var a = JSON.parse(document.getElementById('e10').textContent);
var f = JSON.parse(document.getElementById('e10fixes').textContent);

// https://stackoverflow.com/questions/31295545/how-to-get-only-the-changed-values-from-two-json-objects

function isArray(obj) {
  return (Object.prototype.toString.call(obj) === '[object Array]');
}

function log(msg, indent) {
  indent = (typeof indent == 'undefined' ? 0 : indent);
  for(var i = 0; i<indent; i++){
    msg = '  '+msg;
  }
  //$("#console").append(msg+'\n');
  console.log(msg);
}

function dump(obj) {
  log(JSON.stringify(obj));
}

function debug(msg, indent) {
  // log(msg, indent);
}

var b = JSON.parse(document.getElementById('e10cwm').textContent);

// var diff should be inside getDiff(), 
// but then we couldn't show it working
var diff;
function getDiff(a, b) {
  diff = (isArray(a) ? [] : {});
  recursiveDiff(a, b, diff);
  return diff;
}

function recursiveDiff(a, b, node) {
  // dump(diff);
  var checked = [];

  for (var prop in a) {
    debug(prop, 1);
    if (typeof b[prop] == 'undefined') {
      addNode(prop, '[[removed]]', node);
    } else if (JSON.stringify(a[prop]) != JSON.stringify(b[prop])) {
      debug(typeof b[prop], 2);
      // if value
      if (typeof b[prop] != 'object' || b[prop] == null) {
        addNode(prop, b[prop], node);
        debug("(added)", 3);
      } else {
        // if array
        if (isArray(b[prop])) {
         addNode(prop, [], node);
         recursiveDiff(a[prop], b[prop], node[prop]);
        // if object
        } else {
          addNode(prop, {}, node);
          recursiveDiff(a[prop], b[prop], node[prop]);
        }
      }
    }
  }
}

function addNode(prop, value, parent) {
  parent[prop] = value;
}


log('Input:');
//dump(a);
//dump(b);
log('');
log('Progress:');
var result = getDiff(b, afixed);
log('\n============================\n');
log('Result:');
dump(result);

</script>
{% endif %}

</body>
</html>
