// Utility

@mixin button-reset() {
  -webkit-appearance: none; // iOS

  border-radius: 0;
  background: transparent;
  border: none;
  box-shadow: none;
  font: inherit;
  padding: 0;
  
  // FireFox
  &::-moz-focus-inner { 
    border: 0;
    padding: 0;
    margin: 0;
  }
}

@mixin center() {
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

@mixin hide-text() {
  white-space: nowrap;
  overflow: hidden;
  text-indent: 200%;
}

@mixin visually-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  margin: 0;
}

@mixin clear-fix() {
  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

// Custom

@mixin ghost-button() {
  @include button-reset();
  color: #fff;
  padding: 5px 10px;
  border: 2px solid white;
  transition: all .2s ease-in-out;

  &:not([disabled]):hover {
    background: rgba(255,255,255,.25);
  }
}