@import "mixins";

/* More */
body {
  background: #000;
  color: #ebebeb;
  margin: 0;
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

h1,
h2,
h3 {
  font-family: geosanslight-nmsregular, Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: .08em;
}

a {
  color: #cd4534;

  &:visited {
    color: #bd3524;
  }

  &:active {
    color: red;
  }
}

/* General */

.cms {
  line-height: 1.4;

  @include cms-normalize();
}

.content {
  padding: 20px;
}

/* Header */
.header {
  padding: 10px;
}

.headline1 {
  margin: 0;
  font-size: 20px;
}

/* Main */

.main {
}

/* Intro */

.intro {
  background: #010d47 url(../images/box-vtile--blue-dark.jpg);
  background-size: contain;
  border-bottom: 2px solid #ff8400;
  color: #b2cfd7;

  h2 {
    @include visually-hidden();
  }

  .cms {
    max-width: 800px;
  }
}

/* Steps */

.step_headline {
  font-size: 24px;
  padding: 20px 10px;
  text-align: center;
}

.steps  {
  display: flex;
  border-bottom: 2px solid #ff8400;
}

.step {
  // min-width: 33.333%;
  flex-grow: 1;
  padding: 0 10px 20px 10px;
}

/* Step 1: Select Expedition */

.select_exp {
  width: 350px;
  min-width: 350px;

  background: #54121f url(../images/box-vtile-11.png);
  background-size: contain;
}

.exp_item {
  position: relative;
  overflow: hidden;

  .exp_radio {
    position: absolute;
    left: -20px;
    top: -20px;
  }

  .exp_label {
    position: relative;
    overflow: hidden;
    margin-bottom: 4px;
    transition: all .1s ease-in-out;
    background: rgb(93,93,93);
    // background: radial-gradient(circle, rgba(162,162,162,1) 11%, rgba(108,108,108,1) 94%, rgba(93,93,93,1) 100%);
    display: block;
    padding: 6px 6px 6px 80px;
    border: 3px solid black;
    color: #ebebeb;

    &:hover {
      border-color: #fff;
    }

    * {
      z-index: 2;
      position: relative;
    }
  }

  .image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 125px;
    height: 170%;
    right: 255px;
    position: absolute;
    z-index: 1;
    top: -10px;
  }

  .badge {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    filter: grayscale(1);
  }

  &.exp_item_e02 .image {
    width: 200px;
    top: -20px;
  }
  &.exp_item_e03 .image {
    top: -20px;
  }
  &.exp_item_e05 .image {
    width: 170px;
    top: -20px;
  }

  .exp_name {
    font-family: geosanslight-nmsregular, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 3px;
    text-shadow: 0px 2px 0 rgba(0,0,0,0.4);
    letter-spacing: .08em;
  }

  .redux {
    font-size: 12px;
  }

  .exp_desc {
    line-height: 1.4;
    font-size: 15px;
    color: #b2cfd7;
  }

  .exp_radio:checked ~ .exp_label {
    background: rgb(209,185,104);
    background: radial-gradient(circle, rgba(209,185,104,1) 11%, rgba(185,124,24,1) 94%, rgba(179,94,6,1) 100%);
    border-color: white;
    color: #352025;

    .exp_name {
      text-shadow: none;
    }

    .badge {
      filter: grayscale(0);
    }

    .exp_desc {
      color: #352025;
    }
  }

}

/* Step 2: Customize */

.customize {
  background: #004a61 url(../images/box-vtile-1.png);
  background-size: contain;

  .cust_headline {
    color: #ff8400;
    font-family: Raleway, Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin: 15px 0;
    text-align: center;
  }

  .cust_desc,
  .cust_warning {
    line-height: 1.4;
    margin-top: 4px;
  }

  .cust_desc {
    color: #b2cfd7;
  }

  .cust_warning {
    color: #e66;
  }

  .cust_table {
    width: 100%;
    margin: 15px 0;

    .cust_item_warning {
      border: 1px solid #e66;
      border-bottom: none;

      & + .cust_row_desc {
        border: 1px solid #e66;
        border-left: none;
        border-right: none;
      }
    }

    .cust_row_warning {
      border: 1px solid #e66;
      border-top: none;
    }

    th {
      font-weight: bold;
      padding: 5px;
      text-align: center;
    }

    td {
      padding: 2px 5px;
    }

    .cust_item.filled {
      background: rgba(255,255,255,.25);
    }

    .default,
    .override {
      width: 1px;
      white-space: nowrap;
    }

    .override {
      select,
      input {
        max-width: 84px;
        width: 84px;
      }
    }

    .override:before {
      display: inline-block;
      content: "llll";
      width: 5px;
      height: 10px;
      transform: rotate(-90deg);
      font-size: 10px;
      font-family: Arial, Helvetica, sans-serif;
    }

    .type_bool .override:before {
      content: " ";
      background: linear-gradient(180deg, rgba(0,255,0,1) 50%, rgba(255,0,0,1) 50%);
      transform: rotate(0deg);
    }

    .type_int .override:before {
      content: "int";
      transform: rotate(-90deg);
    }

    .type_float .override:before {
      content: "float";
      transform: rotate(-90deg);
      vertical-align: bottom;
    }

    .cust_prop_input[type=number]::-webkit-inner-spin-button,
    .cust_prop_input[type=number]::-webkit-outer-spin-button {
      opacity: 1;
    }
  }

  .cust_reset {
    @include ghost-button();
    display: table;
    margin: 20px auto;
  }

  .notes {

  }
}

/* Step 3: Download */

.download_section {
  flex-shrink: 1;
  background: #0f181d url(../images/bg-long-huge.jpg);
  background-size: cover;

  dl {
    display: block;

    dt {
      white-space: nowrap;
    }

    dd {
      word-break: break-all;
      margin: 0 0 .5em .5em;
    }
  }

  .download {
    display: table;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid #ff8400;
    transition: background-color 0.5s ease;
    font-family: "geosanslight-nmsregular", Helvetica, Arial, sans-serif;
    letter-spacing: 0.2em;
    font-weight: 700;
    text-shadow: 0px 2px 0 rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;

    &:hover:not([disabled]) {
      background-color: #ff8400;
      cursor: pointer;
    }

    &[disabled] {
      border-color: #848484;
      color: #848484;
    }
  }

  .debug {
    margin-top: 200px;
    opacity: .25;

    .toggle_debug {
      @include ghost-button();
    }

    .debug_panel {
      display: none;
      font-family: monospace;
      white-space: pre;
      margin: 20px 0;
    }

    &.open {
      margin-top: 20px;
      opacity: 1;

      .debug_panel {
        display: block;
      }
    }
  }
}

/* Footer */

.footer {
  background: #162238 url(../images/box-vtile-2.png);
  background-size: contain;
  padding: 20px;
  display: flex;
  justify-content: space-between;

  .image img {
    width: 48px;
  }
}